.page__content .image-note {
  margin-top: -0.25rem;
  margin-bottom: 1.5rem;
  font-size: 14px;
  line-height: 1.5;
}

@media (max-width: 768px) {
  .sidebar .h-card {
    display: none;
  }

  .page__title {
    margin-bottom: 16px;
  }

  .page__content .image-note {
    font-size: 11px;
  }
}
